.main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffebd9;
}
.side-content{
    width: 40%;
    background-color: #ffb6b6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-title{
    color: #ffffff;
    margin: 20px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.sub-head{
    color: #ffffff;
    margin: 0px 0px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.add-cont{
    color: #ffffff;
    margin: 0px 0px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
.new-user{
    margin-top: 30px;
}
.new-user p{
    color: #ffffff;
    margin: 0px 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.signup-btn{
    color: #ffffff;
    width: 40%;
    height: 40px;
    border: 2px solid #ffffff;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.form-content{
    width: 60%;
    height: 100vh;
    display: flex;
}
.user-login-frm{
    width: 400px ;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    margin: auto;
}
.frm-title{
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto 30px;
    width: 100%;
    text-align: center;
    color: #ffb6b6;
}
.icons{
    color: #ffb6b6;
}
.mobile-container,.pass-container{
    width: 80%;
    height: 50px;
    display: flex;
    margin: 0px auto 30px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid rgb(165, 165, 165);
    box-sizing: border-box;
    /* box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28); */
    font-size: 20px;
}
.icon-container{
    width: 14%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.side-border{
    width: 1%;
    height: 30px;
    border-right: 1px solid rgb(165, 165, 165);
}
.frm-inp{
    width: 80%;
    height: 50px;
    border: none;
    background-color: transparent;
    padding-left: 5%;
    font-size: 20px;
    outline: none;
}
.sub-container{
    width: 100% ;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.submit-btn{
    width: 50%;
    height: 50px;
    background-color: #ffb6b6;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-size: 20px;
}
.for-pass{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.for-pass a{
   text-decoration: none;
   color: #000;
   font-size: 14px;
}