<div class="main-container">
    <div class="side-content">
        <div class="intro-content">
            <div class="intro-title">MyApp</div>
            <div class="sub-head">Welcome Back !</div>
            <div class="add-cont">More fun More entertainment waiting for you</div>
            <div class="new-user">
                <p>For new to the MyApp</p>
                <div class="signup-btn">Sign Up</div>
            </div>
        </div>
    </div>
    <div class="form-content">
        <div class="user-login-frm">
            <p class="frm-title">Login</p>
            <form>
                <div class="mobile-container">
                    <div class="icon-container"><i class="fas fa-mobile icons"></i></div>
                    <div class="side-border"></div>
                    <input class="mobile-inp frm-inp" type="text" placeholder="Mobile Number">
                </div>
                <div class="pass-container">
                    <div class="icon-container"><i class="fas fa-unlock-alt icons"></i></div>
                    <div class="side-border"></div>
                    <input class="password-inp frm-inp" type="text" placeholder="Password">
                </div>
                <div class="sub-container">
                    <input class="submit-btn" type="submit" value="GO">
                </div>
            </form>
            <div class="for-pass">
                <a href="#">forgot password?</a>
            </div>
        </div>
    </div>
</div>